<%= form_with(model: @activity, local: true) do |form| %>
<% if @activity.errors.any? %>
    <div id='error_explanation'>
        <ul>
            <% @activity.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>


  <div class="title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
<br>
  <div class="submit">
    <%= form.submit   %>
  </div>

<% end %>
