<div class='container'>
<%= form_with(model: @activity, local: true) do |form| %>
    <% if @activity.errors.any? %>
        <div id='error_explanation'>
            <ul>
                <% @activity.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

  <div class="title mb40">
    <%= form.label :title, class:'formLabel' %>
    <%= form.text_field :title, class:'form-control formTextField' %>
  </div>
<br>
  <div class="submit center">
    <%= form.submit  class: 'btn btn-primary' %>
  </div>

<% end %>

</div>