
<div class='back'>
    <%= link_to '戻る', activity_path(@activity)%>
</div>

<h1 class='container'>プラン編集</h1>

<div class='container'>
  <%= form_with model: @plan, url: activity_plan_path, method: :patch, local: true do |form| %>
    <% if @plan.errors.any? %>
        <div id='error_explanation'>
            <ul>
                <% @plan.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <div class="title mb40 form-group">
      <%= form.label :title, class:'formLabel' %>
      <%= form.text_field :title, class:'form-control formTextField' %>
    </div>

    <div class="time mb40">
      <%= form.label :start_time, class:'formLabel' %>
      <%= form.date_field :start_time, class:'form-control formTextField' %>
    </div>

    <div class="content mb40 form-group">
      <%= form.label :content, class:'formLabel' %>
      <%= form.text_area :content, size: "10x8", class:'form-control w50 positionCenter' %>
    </div>
    
    <div class="submit center">
      <%= form.submit  class: 'btn btn-warning' %>
    </div>

  <% end %>
</div>