
<p id="notice"><%= notice %></p>

<h1>Study Plan</h1>

<br>
<button class='btn btn-primary fcWhite'>
<%= link_to '新規登録', new_plan_path%>

</button>


<%= month_calendar events: @plans do |date, plans| %>
  <%= date.day %>

  <% plans.each do |plan| %>
    <div>
      <%= link_to plan.title, plan %>
    </div>
  <% end %>
  
<% end %>


