<p id="notice"><%= notice %></p>

<h1>Study Plan</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.title %></td>
        <td><%= plan.start_time.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan.id) %></td>
        <td><%= link_to 'Destroy',plan_path(plan.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '計画をかく', new_plan_path %>

<%= month_calendar events: @plans do |date, plans| %>
  <%= date.day %>

  <% plans.each do |plan| %>
    <div>
      <%= link_to plan.title, plan %>
    </div>
  <% end %>
<% end %>