


<h1>Study Plan</h1>

<%= @plans.each do |plan|%>
<%= plan.activity_id %>
<% end %>

<br>
<button class='btn btn-primary fcWhite'>
<%= link_to '新規登録', new_activity_plan_path(@activity) %>

</button>


<%= month_calendar events: @plans do |date, plans| %>
  <%= date.day %>

  <% plans.each do |plan| %>
    <div>
      <%= link_to plan.title, activity_plan_path(@detailplan,@detailplan) %>
    </div>
  <% end %>
  
<% end %>


