

<p>
  <strong>タイトル</strong>
  <%= @plan.title %>
</p>

<p>
  <strong>時間</strong>
  <%= @plan.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @plan.content %>
</p>

<%= link_to 'Edit', edit_activity_plan_path(@activity) %> |
<%= link_to 'Delete', activity_plan_path(@activity), method: :delete, data:{confirm: 'Are you sure?'} %> |


<%= link_to 'Back', activity_path(@activity) %>